@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;700;800&display=swap');

* {
    font-family: 'Maven Pro', sans-serif;
}

body {
    margin: 0;
    background-color: rgb(223, 231, 235);
}

section[aria-label="hero-front"] {
    width: 100%;
    background: no-repeat center linear-gradient(to bottom, rgba(0, 0, 0, 0.73), rgba(0, 0, 0, 0.52)), url(./Assets/Photos/mainBackground.png);
    background-size: 100% 100%;
    color: #fff;
}

.hero-front {
    width: 90%;
    margin: 0 auto;
}

.navbar {
    padding: 2rem;
    display: flex;
    position: relative;
}

.list {
    display: flex;
    list-style: none;
    position: absolute;
    right: 0;
}

.list-item {
    margin: 0 2rem;
    font-weight: 500;
    font-size: 1.25rem;
}

hr {
    margin: 0;
    border-color: rgba(255, 255, 255, 0.25);
}

.hero-front-text {
    width: 40%;
    margin-left: 3.5%;
    margin-right: auto;
    padding-top: 5rem;
}

.hero-front-heading {
    font-weight: 800;
    font-size: 5rem;
}

.hero-front-description {
    font-weight: 400;
    font-size: 1.5rem;
    margin: 2rem 0;
}

.btn {
    border: none;
    padding: 1rem 2rem;
    background-color: #6663E9;
    border-radius: 5rem;
    font-weight: 700;
    font-size: 1.25rem;
    color: #fff;
    margin-bottom: 12rem;
}

section[aria-label="logos-row"] {
    width: 90%;
    margin: 0 auto;
    height: 10vh;
    min-height: 10rem;
    border-radius: 3rem;
    background-color: #fff;
    position: relative;
    top: -5rem;
    display: flex;
}

.logo-container {
    width: 20%;
    background: no-repeat center/50% url(./Assets/Icons/logoName.svg);

}

.hero-products {
    width: 80%;
    margin: 0 auto;
}

.hero-products-headings {
    font-weight: 800;
    font-size: 5rem;
    text-align: center;
}

.hero-all-products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
}

.product {
    width: 32%;
    min-width: 450px;
    min-height: 500px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 15rem;
}

.product-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 3rem;
}

.img1 {
    background: no-repeat center url(./Assets/Photos/cardImage1.png);
    background-size: 100% 100%;
}

.img2 {
    background: no-repeat center url(./Assets/Photos/cardImage2.png);
    background-size: 100% 100%;
}

.img3 {
    background: no-repeat center url(./Assets/Photos/cardImage3.png);
    background-size: 100% 100%;
}

.img4 {
    background: no-repeat center url(./Assets/Photos/cardImage4.png);
    background-size: 100% 100%;
}

.img5 {
    background: no-repeat center url(./Assets/Photos/cardImage5.png);
    background-size: 100% 100%;
}

.img6 {
    background: no-repeat center url(./Assets/Photos/cardImage6.png);
    background-size: 100% 100%;
}

.img7 {
    background: no-repeat center url(./Assets/Photos/cardImage7.png);
    background-size: 100% 100%;
}

.img8 {
    background: no-repeat center url(./Assets/Photos/cardImage8.png);
    background-size: 100% 100%;
}

.img9 {
    background: no-repeat center url(./Assets/Photos/cardImage9.png);
    background-size: 100% 100%;
}

.container {
    width: 90%;
    height: 10vh;
    min-height: 10rem;
    margin: 0 auto;
    background-color: #fff;
    display: flex;
    border-radius: 2rem;
    position: relative;
    top: -6rem;
}

.product-detail {
    width: 80%;
    margin: 0 auto;
    position: relative;
    display: flex;
}

.pro-btn {
    position: absolute;
    right: 0;

}

@media screen and (max-width: 800px) {

    section[aria-label="hero-front"] {
        width: 100%;
        background: no-repeat center linear-gradient(to bottom, rgba(0, 0, 0, 0.73), rgba(0, 0, 0, 0.52)), url(./Assets/Photos/mainBackground.png);
        background-size: 100% 100%;
        color: #fff;
    }

    .hero-front-text {
        width: 80%;
        margin: 0 auto;
    }

    .hero-products {
        width: 90%;
        margin: 0 auto;
    }

    .product {
        width: 100%;
        min-width: 450px;
        min-height: 500px;
        margin: 0 auto;
        position: relative;
        margin-bottom: 10rem;
    }
}
